<!DOCTYPE html>
<html lang="fr">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
	body {
		padding: 50px;
	}
	.error {
		color: red;
	}
	.success {
		color: green;
	}
	.red{
		color: red;
	}
</style>
<body>
