<% include head %>

<h1>Bonjour <%= prenom %></h1>
<img src="<%= photo %>" alt="Votre image de profil">
<a href="/main">Page principale</a>
<a href="/profile">Votre profil</a>
<a href="/logout">Se d&eacute;connecter</a>

<% include foot %>