<% var title = 'Page de connexion' %>
<% include head %>

    <h1>Page de connexion</h1>

    <p>Pas encore inscrit?<a href="/register">Cliquez ici</a></p>

    <form method="post" action="/login">
        <p>
            <label>Adresse email :</label>
            <input type="text" name="email" id="email">
        </p>

        <p>
            <label>Mot de passe :</label>
            <input type="password" name="password" id="password">
        </p>

        <p>
            <input type="submit" value="Connexion">
        </p>
    </form>

<% include foot %>